<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Header Fragment -->
<head th:replace="fragments/header :: header(pageTitle='DBLOC IBS - Members')"></head>

<body>
    <!-- Navigation Fragment -->
    <nav th:replace="fragments/navigation :: navigation"></nav>
    
    <div class="container" style="margin-top: 70px;">
        Wala pa hahaha
    </div>

    <!-- Footer Fragment -->
    <footer th:replace="fragments/footer :: footer"></footer>

    <script type="text/javascript">
	    $(document).ready(function() {
		});
    </script>

</body>

</html>